{#
	MenuBundle/views/Default/footer.html.twig
	Affiche les options de menu (pied de page)
	@var menu : Tableau contenant les options de menu
#}
        <nav>
        	<ul class="">
        		<!--  On va boucler sur le tableau "menu" pour afficher les options -->
        	    {% for item in menu %} {# Boucle principale : Eléments du tableau principal #}
        	    	{# ATTENTION item est désormais un tableau associatif #}
        			<li> <!--  Ouvre une nouvelle ligne HTML -->
        				{% if (item.route != "") %}
            				{% if (item.route == "blog_voir") %}
            					<a href="{{ path(item.route, {id: item.identifiant}) }}" title="{{ item.titre ~ " [" ~ item.identifiant ~ "]" }}">{{ item.libelle  ~ " [" ~ item.identifiant ~ "]" }}</a>
            			    {%  else %}
            			    	<a href="{{ path(item.route) }}" title="{{ item["titre"] }}">{{ item.libelle }}</a>
            				{% endif %}
            			{% else %}
            				<!-- Ici, aucune route n'a été définie, donc... un lien un peu différent -->
            				<a href="#" title="{{ item.titre }}">{{ item.libelle }}</a>
            			{% endif %}
        			</li> <!--  Ferme la ligne parente -->
        	    {% endfor %}
        	</ul>
        </nav>