{#
	MenuBundle/views/Default/menu.html.twig
	Affiche les options de menu
	@var menu : Tableau contenant les options de menu
#}

<!-- Début du menu de navigation -->
<nav class="navbar navbar-inverse">
	<!--  Définit le conteneur du menu -->
	<div class="container-fluid">
    	<div class="navbar-header"><!-- En-tête du menu : menu burger -->
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myblog-main-menu" aria-expanded="false">
				<span class="sr-only">Montrer/Cacher</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>        				
        	</button>
        	<!-- Marqueur de menu -->
        	<a class="navbar-brand" href="#"><i class="icon-home"></i></a>
        </div><!-- Fin de l'en-tête du menu Bootstrap -->
        
        <!--  Les options du menu proprement dites -->
        <div class="collapse navbar-collapse" id="myblog-main-menu">
        	<ul class="nav navbar-nav"><!-- Menu horizontal -->
        		<!--  On va boucler sur le tableau "menu" pour afficher les options -->
        	    {% for item in menu %} {# Boucle principale : Eléments du tableau principal #}
        	    	{# ATTENTION item est désormais un tableau associatif #}
        	    	{%  if (item.enfants is defined) %}
        	    		<!-- Cette ligne est un peu particulière, elle porte la classe "dropdown" -->
        	    		<li class="dropdown">
        	    	{% else %}
        	    		<!-- Pas d'enfants pour cette option, c'est une ligne "normale -->
        	    		<li>
        	    	{% endif %}
        			
        			{% if (item.route != "") %}
            			{% if (item.route == "blog_voir" or item.route == "blog_bycat") %}
            				<a href="{{ path(item.route, {id: item.identifiant}) }}" title="{{ item.titre ~ " [" ~ item.identifiant ~ "]" }}">{{ item.libelle  ~ " [" ~ item.identifiant ~ "]" }}</a>
            			{%  else %}
            			    <a href="{{ path(item.route) }}" title="{{ item["titre"] }}">{{ item.libelle }}</a>
            			{% endif %}
            		{% else %}
            			<!-- Ici, aucune route n'a été définie, donc... un lien un peu différent -->
            			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="{{ item.titre }}">{{ item.libelle }} <span class="caret"></span></a>
            		{% endif %}
            			
            			{# ATTENTION, y-a-t-il des enfants pour cet item ? 
            				if(array_key_exists("enfants",$item))
            				if(property_exists($item,"enfants"))
            			#}
            			{% if item.enfants is defined %}
            				<!-- Liste pour afficher les enfants du node courant -->
            				<ul class="dropdown-menu">
            					{% for enfant in item.enfants %}
            						<li>
                    				    {% if (enfant.route == "blog_voir" or enfant.route == "blog_bycat") %}
                    						<a href="{{ path(enfant.route, {id: enfant.identifiant}) }}" title="{{ enfant.titre ~ " [" ~ enfant.identifiant ~ "]" }}">{{ enfant.libelle  ~ " [" ~ enfant.identifiant ~ "]" }}</a>
                    			        {%  else %}
                    			    		<a href="{{ path(enfant.route) }}" title="{{ enfant.titre }}">{{ enfant.libelle }}</a>
                    				    {% endif %}
                    				</li>  						
            					{% endfor %}
            				</ul>
            			{% endif %}
        			</li> <!--  Ferme la ligne parente -->
        	    {% endfor %}
        	</ul>
        </div>
	</div><!-- Fin du conteneur des options -->
</nav><!--  Fin du menu de navigation -->

{#
	<a href="{{ path(item.route) }}" title="{{ item.titre }}">{{ item.libelle }}</a>
#}