{#
	src/BlogBundle/Resources/views/Hello/index.html.twig
	Etend le template parent src/BlogBundle/Resources/views/layout.html.twig
	webDev - 2017
	Variables exposées :
		pageTitle => Titre de la page qui sera renvoyée en réponse au navigateur
		innerTitle => Titre à afficher dans le corps du document HTML (SEO Friendly)
		articles => Tableau qui contient tous les articles de la base de données
			sous la forme d'objets
#}

{% extends "BlogBundle::layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}
	
{% block blog_body %}
	{%  for article in articles %}
		<article class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<header>
				<h2>{{ article.titre }}</h2>
			</header>
			<p>{{ article.truncateContenu() }}</p>
			{% if article.categories.count > 0 %}
				<div class="panel">
					<dl>
    					{% for categorie in article.categories %}
    						<dt>{{ categorie.libelle }}</dt>
    						<dd>{{ categorie.description }}</dd>	
    					{% endfor %}
					</dl>
				</div>
			{% endif %}
			<footer>
				<cite>Créé par {{ article.auteur }}</cite>, le {{ article.date | date("d-m-Y") }}
			</footer>
		</article>
	{% endfor %}
{% endblock %}