{#
	src/BlogBundle/Resources/views/Hello/voir.html.twig
	Etend src/BlogBundle/Resources/views/layout.html.twig
	webDev - 2017
	Variables exposées :
		article => Données d'un article en particulier
#}
	{% extends "BlogBundle::layout.html.twig" %}
	
	{% block title %}{{ parent() }} - Article : {{ article.getId() }}{% endblock %}
	
	{% block blog_body %}
		
		<main>
			<article>
        		<header>
        			<h1>
        				{{ article.titre }}
        			</h1>
        		</header>
        		<p>
        			{{ article.getContenu() }}
        		</p>
        		
        		{# On peut désormais utiliser la méthode getCommentaires() ou .commentaires #}
        		{% if(article.commentaires.count > 0) %}
        			{% for commentaire in article.commentaires %}
        				<div class="thumbnail">
        					{{ commentaire.contenu }}
        					<cite>Par : {{ commentaire.auteur }} <span>{{ commentaire.date | date("d-m-Y") }}</span></cite>
        				</div>
        			{% endfor %}
        		{% endif %}
        		<footer>
        			<cite>Auteur : {{ article.getAuteur() }}</cite>
        			Date : {{ (article.getDate()) | date("d-m-Y H:i") }}
        			<p>Vu <span class="badge">{{ article.getVues() }}</span> fois.</p>
        		</footer>			
			</article>
		</main>
		
		<footer>
			Powered by Symfony 2.8
		</footer>
	{% endblock %}